@import "nullstyle.scss";

body {
	background-color: #f9f9f9;
	.container_main {
		min-height: 100%;
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
	}
}

h2 {
	text-align: center;
	font-size: 48px;
	line-height: 64px;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1328px;
	margin: 40px auto 0px;
	.logo {
		display: flex;
		align-items: center;
		img {
			width: 68px;
			height: 40px;
			margin: 0 8px 0 0;
		}
		p {
			color: #303031;
			font-weight: 500;
			font-size: 32px;
			font-weight: 500;
			line-height: 43px;
			letter-spacing: -0.04em;
		}
	}
	.navigations {
		display: flex;
		a {
			font-weight: 500;
			font-size: 18px;
			line-height: 22px;
			color: #303031;
			margin: 0 40px 0px 0;
			text-decoration: none;
			letter-spacing: -0.02em;
		}
		a.active {
			color: #71a894;
		}
	}
}
.main_container {
	display: flex;
	min-height: 100vh;
	margin-top: 35px;
	margin-left: 56px;
	background-image: url(../img/Right_Column.png);
	background-repeat: no-repeat;
	background-position-x: right;
	background-size: 50%;
	align-items: center;
	.container_content {
		width: 100%;
	}
	.main_text {
		max-width: 50%;
	}
	.scroll {
		display: flex;
		flex-direction: column;
		align-items: center;
		p {
			font-size: 14px;
			line-height: 17px;
			text-align: center;
			letter-spacing: -0.02em;
			color: #66645e;
			margin-top: 8px;
		}
	}
}
h1.title {
	color: #303031;
	font-style: bold;
	font-weight: normal;
	font-size: 64px;
	line-height: 80px;
}
p.content {
	font-size: 24px;
	line-height: 32px;
	color: #66645e;
	margin-top: 24px;
	letter-spacing: -0.02em;
}
button {
	background-color: #71a894;
	color: white;
	border: none;
	padding: 20px 24px 20px 24px;
	border-radius: 10px;
	margin-top: 40px;
	font-size: 18px;
	line-height: 24px;
}

.first_content {
	margin: 0px auto;
	max-width: 1328px;
	.first_content_text {
		width: 60%;
		display: flex;
		flex-direction: column;
		margin-top: 24px;
		align-items: center;
		margin: 0px auto;
		p {
			font-size: 18px;
			line-height: 26px;
			text-align: center;
			letter-spacing: -0.02em;
			margin-top: 24px;
		}
	}
	.first_content_cards {
		display: flex;
		.cards_row {
			display: flex;
			flex-wrap: wrap;
			margin: 0px -12px;
			flex: 0 1 auto;
			justify-content: space-around;
			.cards {
				display: flex;
				flex: 0 1 427px;
				flex-direction: column;
				margin-top: 48px;
				padding: 0px 12px;
				align-items: center;
				justify-content: center;
				background: #ffff;
				box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
				border-radius: 8px;
				h3 {
					font-weight: bold;
					font-size: 24px;
					line-height: 32px;
					margin-top: 24px;
				}
				p {
					font-size: 18px;
					line-height: 26px;
					text-align: center;
					color: #303031;
					margin-top: 16px;
					padding: 0px 24px 64px 24px;
				}
				img {
					padding-top: 64px;
				}
			}
		}
	}
}
.advantages {
	padding-top: 160px;
	.advantages_kickstart {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		align-items: center;
		.advantages_kickstart_text {
			flex: 0 1 45%;
			img {
				padding-bottom: 24px;
			}
			h2 {
				text-align: left;
			}
			p {
				text-align-last: left;
				font-size: 18px;
				line-height: 26px;
				letter-spacing: -0.02em;
				color: #303031;
				padding: 24px 0;
			}
		}
		.advantages_kickstart_widget {
			flex: 0 1 484px;
			background: #ffffff;
			border: 4px solid #303031;
			box-sizing: border-box;
			border-radius: 16px;
			padding: 32px 0px 26px 40px;
			box-shadow: 16px 16px #71a894;
			.widget_title {
				font-size: 32px;
				line-height: 40px;
				letter-spacing: -0.02em;
				font-weight: bold;
				color: #303031;
				padding-bottom: 30px;
			}
			.peoples {
				display: flex;
				flex-direction: column;
				.man {
					display: flex;
					align-items: center;
					padding-bottom: 20px;
					img {
						border-radius: 50%;
					}
					.man_text {
						padding-left: 12px;
						h4 {
							width: 100%;
							font-weight: 600;
							font-size: 24px;
							line-height: 26px;
							letter-spacing: -0.02em;
							color: #303031;
							padding-bottom: 4px;
						}
						p {
							font-weight: 500;
							font-size: 16px;
							line-height: 26px;
							letter-spacing: -0.02em;
							color: #66645e;
						}
					}
				}
			}
		}
	}
	.investors {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap-reverse;
		align-items: center;
		padding-top: 160px;
		.investor_text {
			flex: 0 1 45%;
			img {
				padding-bottom: 24px;
			}
			h2 {
				text-align: left;
			}
			p {
				text-align-last: left;
				font-size: 18px;
				line-height: 26px;
				letter-spacing: -0.02em;
				color: #303031;
				padding: 24px 0;
			}
		}
	}
	.investors_widget {
		flex: 0 1 484px;
		background: #ffffff;
		border: 4px solid #303031;
		box-sizing: border-box;
		border-radius: 16px;
		padding: 32px 0px 26px 40px;
		.button {
			padding-right: 40px;
		}
		button {
			padding: 12px 24px;
			background: #303031;
			border-radius: 16px;
			color: white;
			max-width: 404px;
			width: 100%;
			margin: 32px 0px;
		}
		.investore_man {
			display: flex;
			flex-direction: column;
			.man {
				display: flex;
				align-items: center;
				padding-bottom: 20px;
				img {
					border-radius: 50%;
				}
				.man_text {
					padding-left: 12px;
					h4 {
						font-weight: bold;
						font-size: 24px;
						line-height: 32px;
						letter-spacing: -0.02em;
						color: #303031;
						padding-bottom: 4px;
					}
					p {
						font-weight: 600;
						font-size: 16px;
						line-height: 24px;
						letter-spacing: -0.02em;
						color: #66645e;
					}
				}
			}
		}
		.investore_text {
			font-weight: 500;
			font-size: 16px;
			line-height: 24px;
			letter-spacing: -0.02em;
			color: #303031;
			margin-top: 28px;
		}
		.rows {
			display: flex;
			flex-direction: column;
			.rows_titles {
				display: flex;
				p {
					width: 50%;
					font-weight: 500;
					font-size: 16px;
					line-height: 24px;
					letter-spacing: -0.02em;
					color: #66645e;
					margin: 24px 0px 12px 0px;
				}
			}
		}
		.rows_value {
			display: flex;
			justify-content: start;
			p {
				width: 50%;
				font-weight: 500;
				font-size: 24px;
				line-height: 32px;
				letter-spacing: -0.02em;
				color: #303031;
			}
		}
	}
	.commite {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		align-items: center;
		padding-top: 160px;
		.commite_text {
			flex: 0 1 35%;
			img {
				padding-bottom: 24px;
			}
			h2 {
				text-align: left;
			}
			p {
				text-align-last: left;
				font-size: 18px;
				line-height: 26px;
				letter-spacing: -0.02em;
				color: #303031;
				padding: 24px 0;
			}
		}
		.commite_widgets {
			.group {
				display: flex;
				flex-direction: column;
				align-items: center;
				.row_widget {
					background: #ffffff;
					border: 4px solid #303031;
					border-radius: 16px;
					flex: 0 1 auto;
					max-width: 560px;
					box-shadow: 0px 12px 0px -5px #71a894;
					.text_widget {
						display: flex;
						flex-wrap: nowrap;
					}
					.text {
						width: 80%;
						padding: 28px 34px 24px 24px;
						h4 {
							font-weight: bold;
							font-size: 18px;
							line-height: 24px;
							letter-spacing: -0.02em;
							color: #303031;
							margin-bottom: 16px;
						}
						p {
							font-weight: 500;
							font-size: 16px;
							line-height: 24px;
							letter-spacing: -0.02em;
							color: #303031;
						}
					}
				}
				.column_widgets {
					display: flex;
					margin-top: 16px;
					flex-wrap: wrap;
					justify-content: center;
					.applicants {
						display: flex;
						flex: 0 1 auto;
						min-width: 381px;
						max-height: 288px;
						background: #f3f0ea;
						border: 4px solid #303031;
						box-sizing: border-box;
						border-radius: 16px;
						flex-direction: column;
						padding: 32px 40px;
						.title {
							font-weight: bold;
							font-size: 24px;
							line-height: 32px;
							letter-spacing: -0.02em;
							color: #303031;
						}
						.peoples {
							.man {
								display: flex;
								align-items: center;
								padding-top: 24px;
								img {
									border-radius: 50%;
								}
								.man_text {
									display: flex;
									align-items: center;
									flex-wrap: nowrap;
									justify-content: space-between;
									width: 100%;
									h4 {
										font-weight: 600;
										font-size: 20px;
										line-height: 24px;
										letter-spacing: -0.02em;
										color: #303031;
										padding-left: 16px;
									}
									p {
										position: relative;
										font-size: 20px;
										line-height: 24px;
										color: #303031;
										padding-left: 25px;
										&:before {
											content: url(../img/Star.png);
											position: absolute;
											left: -8px;
											top: 2px;
										}
									}
								}
							}
						}
					}
				}
				button {
					margin: 24px 24px 0px 0px;
					background: #71a894;
					border-radius: 40px;
					padding: 4px 8px;
					font-weight: 500;
					font-size: 16px;
					line-height: 24px;
					letter-spacing: -0.02em;
					color: #ffffff;
					min-width: 79px;
				}
			}
			.profile {
				display: flex;
				flex-direction: column;
				background: #ffffff;
				border: 4px solid #71a894;
				box-sizing: border-box;
				border-radius: 16px;
				flex: 0 1 auto;
				min-width: 240px;
				min-height: 288px;
				padding: 24px 24px;
				margin-top: 48px;
				margin-left: 12px;
				.info {
					display: flex;
					flex-direction: column;
					align-items: center;
					img {
						border-radius: 50%;
						width: 72px;
					}
					h4 {
						padding: 16px 0px 4px 0px;
						font-weight: bold;
						font-size: 20px;
						line-height: 24px;
						text-align: center;
						letter-spacing: -0.02em;
						color: #303031;
					}
					p {
						font-size: 16px;
						line-height: 24px;
						text-align: center;
						letter-spacing: -0.02em;
						color: #66645e;
					}
				}
				.commits {
					display: flex;
					justify-content: space-around;
					padding-top: 16px;
					p {
						font-size: 16px;
						line-height: 24px;
						letter-spacing: -0.02em;
						color: #303031;
					}
					p.rating {
						position: relative;
						font-weight: 500;
						font-size: 20px;
						line-height: 24px;
						letter-spacing: -0.02em;
						color: #303031;
						padding-left: 40px;
						&:before {
							content: url(../img/Star.png);
							position: absolute;
							left: 8px;
							top: 2px;
						}
					}
				}
				.button {
					display: flex;
					justify-content: center;
					padding-top: 16px;
				}
				button {
					background: #303031;
					border-radius: 16px;
					font-weight: 500;
					font-size: 16px;
					line-height: 20px;
					letter-spacing: -0.02em;
					color: #ffffff;
					padding: 12px 30px;
				}
			}
		}
	}
	.main_help {
		display: flex;
		flex-direction: column;
		padding-top: 160px;
		.help_text {
			justify-content: space-around;
			.help_subtitle {
				p {
					font-size: 18px;
					line-height: 26px;
					text-align: center;
					letter-spacing: -0.02em;
					color: #303031;
					padding: 24px 20% 0px 20%;
				}
			}
		}
		.help_cards {
			display: flex;
			flex: 0 1 33%;
			justify-content: space-around;
			align-items: flex-start;
			flex-wrap: wrap;
			.cards {
				max-width: 427px;
				padding: 24px 24px;
				background: #ffffff;
				box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
				border-radius: 16px;
				margin-top: 48px;
				h3 {
					font-weight: bold;
					font-size: 18px;
					line-height: 24px;
					letter-spacing: -0.02em;
					color: #303031;
				}
				p {
					font-weight: 500;
					font-size: 16px;
					line-height: 24px;
					letter-spacing: -0.02em;
					color: #303031;
					padding: 16px 0px;
				}
				.subtext {
					display: flex;
					justify-content: space-between;
					align-items: center;
					flex-wrap: wrap-reverse;
					button {
						background: #71a894;
						border-radius: 40px;
						padding: 4px 8px;
						font-weight: 500;
						font-size: 16px;
						line-height: 24px;
						letter-spacing: -0.02em;
						color: #ffffff;
						min-width: 79px;
						max-height: 32px;
					}
				}
			}
		}
		.more {
			display: flex;
			justify-content: space-around;
			button {
				margin-top: 48px;
				padding: 20px 24px;
				background: #303031;
				border-radius: 8px;
				font-weight: bold;
				font-size: 18px;
				line-height: 24px;
				text-align: center;
				color: #ffffff;
			}
		}
	}
	.background {
		margin: 44px 0px;
		height: 72px;
		background-image: url(/img/Divider.png);
	}
	.early_access {
		display: flex;
		align-items: center;
		justify-content: space-around;
		flex-wrap: wrap-reverse;
		.start {
			width: 45%;
			h2 {
				text-align: left;
			}
			p {
				font-size: 18px;
				line-height: 26px;
				letter-spacing: -0.02em;
				color: #303031;
				margin: 24px 0px 40px 0px;
			}
			button {
				background: #71a894;
				border-radius: 8px;
				padding: 20px 24px;
				font-weight: bold;
				font-size: 18px;
				line-height: 24px;
				color: #ffffff;
			}
		}
	}
	.footer {
		display: flex;
		justify-content: space-between;
		padding: 130px 56px 45px 56px;
		h3 {
			font-weight: 500;
			font-size: 24px;
			line-height: 32px;
			letter-spacing: -0.04em;
			color: #303031;
		}
		a {
			font-weight: 500;
			font-size: 20px;
			line-height: 24px;
			letter-spacing: -0.02em;
			color: #303031;
			padding-left: 40px;
		}
		.contact {
			font-weight: bold;
			font-size: 20px;
			line-height: 24px;
			letter-spacing: -0.02em;
			color: #71a894;
		}
	}
}
